body {
	margin: 0; /* outside element*/
	padding: 0; /* part of the element and visible*/
	height: 500px;
	background: #ddd;
}

/* good practice to set margin and padding both to 0*/

h1 {
	margin: 0;
}

.title {
	text-align: center;
	line-height: 100vh;
	font-family: "Source Sans Pro", Arial, Calibri, sans-serif;
	font-size: 150px;
	font-weight: normal; /* normal unbolds*/ /* this property also accepts number values; for example: 600 = bold;*/
/*	font-size: 5em;*/
}